/*
font-family: 'Josefin Sans', sans-serif;
*/
body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  color: #413a3a;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 16px;
}

p {
  color: hsl(0, 36%, 70%);
  font-size: 14px;
  line-height: 1.8;
}

span {
  color: #ce9797;
  font-weight: 300;
}

img .logo {
  width: 100%;
  height: auto;
}

input[type=email] {
  border-radius: 25px;
  padding: 3%;
  margin-bottom: 15%;
  width: 25vw;
}

footer {
  text-align: center;
}

.guide {
  border: 1px solid #1d1d1d;
  padding: 5px;
}

.logo {
  margin: 25px 0;
}

.container>* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
}

.col-right {
  flex: 0 0 40%;
}

.col-left {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-pattern {
  background-image:linear-gradient(red, yellow), url("images/bg-pattern-desktop.svg");
  background-color: red;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.logo-wrapper {
  align-self: center;
  width: 80%;
}

.content-wrapper {
  align-self: center;
  width: 80%;
}
